@import "theme/colors"

.App
  align-items: center
  display: flex
  height: 100vh
  justify-content: center
  margin: 0 auto
  width: 500px

  .Container
    height: 550px
    width: 100%

    .ui.header
      color: $primary
      font-size: 40px
      font-family: 'Inter', sans-serif
      font-weight: 700
      line-height: 44px
      margin-bottom: 30px
      text-align: center
