@import "semantic-ui-css/semantic.min.css"
@import "react-datepicker/dist/react-datepicker.css"

@import "theme/input"

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font-family: 'Inter', sans-serif